*,
*:after,
*:before {
    @include box-sizing(inherit);
}
html {
    @include box-sizing(border-box);
}
body {
    @include bg-image;
    font-family: $fontMain;
}
.bg {
    background-color: rgba($color: $black, $alpha: 0.45);
    height: 100%;
    width: 100%;
}
a {
    color: unset;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
.site-header {
    padding: 1rem .2rem;
    width: 95%;

    @include tablet {
        margin-bottom: 1rem;
    }
    img {
        width: 5rem;
        
        @include phone {
            width: 11rem;
        }
    }
}
.main-container {
    width: 100%;
    
    @include tablet {
        max-width: 450px;
        margin: 0 auto;
    }
}
.formulario-login {
    background-color: rgba($color: $black, $alpha: 0.8);
    border-bottom: 1px solid $boulder;
    display: flex;
    flex-direction: column;
    padding: .8rem 1rem 6rem 1rem;
    
    @include tablet {
        border-bottom: 1px solid transparent;
        padding: 3.3rem 4rem;
    }
    
    form {
        display: flex;
        flex-basis: 21rem;
        flex-direction: column;
        
        @include tablet {
            flex-basis: 24rem;
        }

        legend {
            color: $white;
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 1.5rem;
        }
    }
}
.campo {
    display: flex;
    flex-basis: 4rem;
    flex-direction: column;
    position: relative;

    input {
        background-color: $mine-shaft;
        border: none;
        border-radius: 0.3rem;
        color: $white;
        height: 3rem;
        outline: none;
        padding: 1rem 1.3rem 0.1rem 1.3rem;
        
        &:focus ~ label {   
            font-size: .7rem;
            top: .4rem;
        }
        &:focus {
            background-color: $cape-cod;
        }
    }
    label {
        color: $gunsmoke;
        font-size: $link-and-label-size;
        left: 1.3rem;
        position: absolute;
        top: 1rem;
        transition: font-size 200ms ease, top 200ms ease;
    }
    .btn-pwd {
        background-color: transparent;
        border: none;
        border-radius: .3rem;
        color: #8C8C8C;
        cursor: pointer;
        // display: none;
        outline: none;
        padding: .9rem .5rem;
        position: absolute;
        right: 0;
        text-transform: uppercase;
    }
}
.submit {
    input {
        color: $white;
        background-color: $punch;
        border: none;
        border-radius: 0.3rem;
        cursor: pointer;
        margin: 1.5rem 0 .8rem 0;
        padding: 0.8rem;
        width: 100%;
    }
}
.acciones {
    color: $nobel;
    display: flex;
    font-size: .8rem;
    justify-content: space-between;

    .recuerdame input[type="checkbox"] {
        background-color: $nobel;
        color: $nobel;
    }
}
.contenido-inferior {
    color: $gunsmoke;

    a {
        font-size: .8rem;
        padding-left: 1.5rem;
        position: relative;

        &[id="logo-facebook"]::before {
            background-image: url('../img/facebook.png');
            background-position: cover;
            background-repeat: no-repeat;
            background-size: 1.2rem;
            content: "";
            display: inline-block;
            height: 1.2rem;
            left: 0;
            margin-right: .5rem;
            position: absolute;
            top: -.2rem;
            width: 1.2rem;
        }
    }
    p a {
        color: $white;
        padding-left: 0;
        font-size: 1rem;
    }
}
footer {
    background-color: rgba($color: $black, $alpha: 0.75);
    padding: 2rem 1rem 3rem 1rem;
    
    @include tablet {
        margin-top: 10rem;
    }
}
.footer-content {
    color: $boulder;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1024px;

    .menu-footer {
        display: flex;
        flex-flow: wrap row;
        font-size: .8rem;
        justify-content: flex-start;
        margin-bottom: 2rem;

        a {
            flex: 0 0 27%;
            padding-right: 1rem;
            margin-bottom: 1rem;
        }
    }
    #idioma {
        -webkit-appearance: none;
        background-color: $black;
        border-color: $boulder;
        color: $boulder;
        padding: 1rem;
        width: 8.3rem;
    }
}