// Fonts
$fontMain: Arial, Helvetica, sans-serif;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$punch: #E50914;
$chilean-fire: #E87C03;
$mine-shaft: #333333;
$cape-cod: #454545;
$gunsmoke: #8C8C8C;
$boulder: #757575;
$nobel: #B3B3B3;
$white: #FFFFFF;
$black: #000000;

// Font size
$link-and-label-size: 1rem; 